html {
	box-sizing: border-box;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
}

p{
	margin:0;
	padding-left: 2em;
	padding-right:2em;
}

h1{
	padding-top: 4.6em;
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/hero-burger.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	font-size: 2.8rem; /* fall-back browser support */
	font-size: 14.3vw;
	margin:0;
}

h2{
	padding: 0 1em;
	font-size: 1.75rem;
	color: ;
}

h3{
	position: absolute;
	top: 0;
	left: 0.8rem;
	margin: 0;
	margin-right: 0.8rem;
	padding: 0.25em;
	width: 83.2%;
	background: rgb(51, 183, 146); /* fall-back support for browsers that don't support rgba */
	background: rgba(51, 183, 146, 0.75); /* for transparency */
	color: white;
	font-size: 2rem;
}

h4{
	font-size: 1.25rem;
	margin: 0;
	padding: 0.7em 0 0.7em 0.9em;
	background: rgb(51,
	 183, 146); /* fall-back support for browsers that don't support rgba */
	background: rgba(51, 183, 146, 0.75); /* for transparency */
}

h5{
	clear: both;
	text-align: center;
}

header{
	background-color: #33b792;
	margin-bottom: 1em;
}

header p{
	display: inline-block;
}

li{
	list-style: none;
	padding-top: 0.75em;
}

.history h2{
	color: #841618;
}

.history img{
	margin: 0 auto 0.75em auto;
	width: 25.6%;
	display: block;
}

.white-background{
	background-color: white;
	font-size: 1.5em;
	padding-bottom: 1em;
}

.full-screen{
	width: 100%;
}

.history{
	background: rgb(51, 183, 146); /* fall-back support for browsers that don't support rgba */
	background: rgba(51, 183, 146, 0.5); /* for transparency */
}

.menu-clear{
	clear:both;
}

.food-wrapper{
	position: relative;
	margin-bottom: 1em;
	padding: 0 0.8rem 0.8rem;
}

.food-wrapper img{
	width: 100%;
}

.menu-right{
	float: right;
	width: 50%;
}

.menu-left{
	float: left;
	width: 50%;
}

.img-right{
	float: right;
	width: 50%;
}

.img-left{
	float: left;
	width: 50%;
}

.contact{
	text-align: center;
}

.location{
	background-image: url("../img/google-maps.jpg");
	width: 100%;
	position: relative;
}

.social-media{
	padding: 1em;
}

.social-media img{
	float: left;
	width: 33.33%;
	padding: 1em;
}

footer{
	clear: left;
	background-color: #33b792;
}

.location h2{
	position: absolute;
	top: 23%;
	left: 43%;
}

.location p{
	position: absolute;
	top: 56%;
	left: 36%;
}

.location img{
	width: 100%;
	opacity: 0.5;
	margin-bottom: -0.2em;
}

.location::before{
	background-color: #33b792;
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
}

/* words are here */
