html {
	box-sizing: border-box;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
}

h1{
	padding-top: 7.3em;
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/hero-burger.jpg");
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: center 10px;
	text-align: center;
	color: white;
	font-size: 2.8rem
}

h3{
	position: absolute;
}

h5{
	clear: both;
	text-align: center;
}

header{
	background-color: #33b792;
}

header p{
	display: inline-block;
}

li{
	list-style: none;
	padding-top: 0.75em;
}

.full-screen{
	width: 100%;
}

.history{
	background: rgb(51, 183, 146); /* fall-back support for browsers that don't support rgba */
	background: rgba(51, 183, 146, 0.5); /* for transparency */
}

.menu-clear{
	clear:both;
}

.food-wrapper{
	position: relative;
}

.food-wrapper img{
	width: 100%;
}

.menu-right{
	float: right;
	width: 50%;
}

.menu-left{
	float: left;
	width: 50%;
}

.img-right{
	float: right;
	width: 50%;
}

.img-left{
	float: left;
	width: 50%;
}

.contact{
	text-align: center;
}

.social-media img{
	float: left;
	width: 30%;
	max-width: 200px;
}

footer{
	clear: left;
	background-color: #33b792;
}
/* words are here */
